@import '~styles/config';

.figure {
    position: relative;
    height: 67vw;
    margin-top: 25vw;
    
    @include grid-col(16);
    @include grid-offset-left(2);

    @media (min-width: $min-960) {
      position: absolute;
      @include grid-col(8);
      @include grid-offset-left(9);
    	height: 29.6vw;
      margin-top: auto;
    }

    > div {
      clip-path: inset(.001% .002% .003% .004%);
    }

}

.background {

  @media (max-width: 959px) {
    height: 67vw;
    background-size: 180%; 
    background-position: left center; 
  }
  @media (min-width: $min-960) {
    min-height: 32vw;
    background-size: 140%;

  }

	background-repeat: no-repeat;
  background-position: center;

}
