@import '~styles/config';

.figure {

    height: 67vw;


    @media (min-width: $min-960) {
      z-index: -1;

      height: 30vw;
    }

    > div {
      clip-path: inset(.001% .002% .003% .004%);
    }

}

.background {

  @media (max-width: 959px) {
    height: 67vw;
    background-size: 220%;  
  }
  @media (min-width: $min-960) {
    height: 30vw;
    background-size: 100%;
    background-position: top center;

  }

  background-repeat: no-repeat;
  background-position: center;

}
