@import '~styles/config';

.figure {

    height: 60vw;

    @media (min-width: $min-960) {

      z-index: -1;
      height: 33vw;
    }

    > div {
      clip-path: inset(.001% .002% .003% .004%);
    }

}

.background {

  @media (max-width: 959px) {
    height: 67vw;
    background-size: 130%;  
  }
  @media (min-width: $min-960) {
    height: 33vw;
    background-size: 100%;
    background-position: center center;

  }

  background-repeat: no-repeat;
  background-position: center;

}
