@import '~styles/config';

.figure {

    height: 70vw;
    margin-bottom: 12vw;
/*
    @include grid-col;
*/
    @media (min-width: $min-960) {

    margin-bottom: 6vw;      
/*
      @include grid-col(10);
      @include grid-offset-left(2);
*/
      height: 45vh;
  
    }

    > div {
      clip-path: inset(.001% .002% .003% .004%);
    }

}

.background {

    min-height: 70vw;

      background-repeat: no-repeat;
      background-size: cover; 
      background-position: center top;    

    @media (min-width: $min-960) {

      min-height: 45vh;      

    }  

}
