@import '~styles/config';

.paragraph {

	font-weight: lighter;

  $font-map: (320px: 14px, 375px: 16px, 959px: 41px, 960px: 8px, 2880px: 24px);
  $height-map: (320px: 18px, 375px: 20px, 959px: 50px, 960px: 16px, 2880px: 48px);
  @include poly-fluid-sizing('font-size', $font-map);
  @include poly-fluid-sizing('line-height', $height-map);

}
