@import '~styles/config';

.heading {

  /* color: #231f20; */
  font-weight: 900;
  z-index: 5;
  $font-map: (375px: 60px, 959px: 150px, 960px: 46px, 2880px: 158px);
  $height-map: (375px: 45px, 959px: 135px, 960px: 37px, 2880px: 115px);
  $spacing-map: (375px: -0.75px, 959px: -2px, 960px: -0.5px, 2880px: -3px);  
  @include poly-fluid-sizing('font-size', $font-map);
  @include poly-fluid-sizing('line-height', $height-map);
  @include poly-fluid-sizing('letter-spacing', $spacing-map);  
}

