@import '~styles/config';

.heading {

  margin-bottom: 35px;
	font-weight: 900;

  $font-map: (375px: 60px, 767px: 120px, 768px: 35px, 2880px: 158px);
  $height-map: (375px: 50px, 767px: 90px, 768px: 30px, 2880px: 138px);
  $spacing-map: (375px: -0.25px, 767px: -2.5px, 768px: -0.15px, 2880px: -3px);  
  @include poly-fluid-sizing('font-size', $font-map);
  @include poly-fluid-sizing('line-height', $height-map);
  @include poly-fluid-sizing('letter-spacing', $spacing-map);  

}
