@import '~styles/config';

.footer {
  height: 560px;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #222222;

  &__col1 {
    padding: 40px 0;

    border-bottom: 10px solid #000000;

    @include grid-col;

    @media (min-width: $min-960) {
      @include grid-col(2);
      @include grid-offset-left(7);
    }
  }

  &__col2 {
    padding: 40px 0;

    border-bottom: 10px solid #000000;

    @include grid-col;

    @media (min-width: $min-960) {
      @include grid-col(2);
      @include grid-offset-left(1);
    }

  }

  &__col3 {
    padding: 40px 0;

    border-bottom: 10px solid #000000;

    @include grid-col;

    @media (min-width: $min-960) {
      @include grid-col(2);
      @include grid-offset-left(1);
    }


  }

}
