@import '~styles/config';

.row {
  display: block;
  background-color: #222222;
  position: relative;
  z-index: -1;

  &__one {
    padding-top: 180px;
  }

  &__two {
    padding-top: 60px;
  }

  &__three {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}

.footer {
  display: flex;
  position: relative;
  right: 0;
  top: auto;
  bottom: 0;
  left: 0;
  font-weight: 400;

  &__col1 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    @include grid-col;

    @media (min-width: $min-960) {
      @include grid-col(2);
      @include grid-offset-left(7);
    }
  }

  &__col2 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    @include grid-col;

    @media (min-width: $min-960) {
      @include grid-col(2);
      @include grid-offset-left(1);
    }

  }

  &__col3 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    @include grid-col;

    @media (min-width: $min-960) {
      @include grid-col(2);
      @include grid-offset-left(1);
    }

  }

  &__col4 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    @include grid-col;

    @media (min-width: $min-960) {
      @include grid-col(2);
      @include grid-offset-left(7);
    }

  }

  &__col5 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    @include grid-col;

    @media (min-width: $min-960) {
      @include grid-col(2);
      @include grid-offset-left(7);
    }

  }

  &__col6 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    @include grid-col;

    @media (min-width: $min-960) {
      @include grid-col(2);
      @include grid-offset-left(4);
    }

  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    $font-map: (375px: 9px, 959px: 12px, 960px: 8px, 2880px: 16px);
    @include poly-fluid-sizing('font-size', $font-map);
  }

  &__h2 {
  color: #2d2d2d;
  }

  &__p {
  color: #6d6d6d;  
  }

  &__s { 
  color: #6d6d6d;   
  $font-map: (320px: 4px, 375px: 5px, 768px: 6px, 959px: 8px, 960px: 10px, 2880px: 12px);
  $height-map: (320px: 14px, 375px: 15px, 768px: 16px, 959px: 18px, 960px: 21px, 2880px: 24px);
  /*$spacing-map: (320px: -0.15px, 375px: -0.25px, 768px: -0.5px, 960px: -0.35px, 2880px: -3px);  */
  @include poly-fluid-sizing('font-size', $font-map);
  @include poly-fluid-sizing('line-height', $height-map);
  /*@include poly-fluid-sizing('letter-spacing', $spacing-map); */
  }
}