@import '~styles/config';

.text_icon  {
	opacity: 1;
	z-index: 15;
	position: relative;
  	



	&>div>img {
		width: 20%;
		/* margin: 0 auto 15px auto; */
    	margin-bottom: 1vw; 
		transition: transform 1s;
		transition-delay: .3s;
		transform-origin: bottom left;	

	}

	&:hover >div>img {
		transform: scale(1.1248);
		transition: transform .5s ;
		transform-origin: bottom left;
		transition-delay: .3s;
		/* margin: 0 auto 15px auto; */
	}	



	&:hover h4 {
		color: #37c6f4;
		/* font-weight: 700;  */

	}

}

.icon_heading {
	font-weight: lighter;
	text-align: left;

	

	$font-map: (375px: 16px, 959px: 28px, 960px: 14px, 2880px: 40px);
	@include poly-fluid-sizing('font-size', $font-map);

	$height-map: (375px: 16px, 959px: 28px, 960px: 14px, 2880px: 40px);
	@include poly-fluid-sizing('line-height', $font-map);

}