@import '~styles/config';

.slider {

  color: red;

    @media (min-width: $min-960) {
      position: relative;
      bottom: 5.1vh;
      @include grid-col(10);
      @include grid-offset-left(2);
    }

  &__link {
    display: inline-block;
    margin-right: 25px;    
  }

  &__control {
    width: 15px;
    height:  15px;
    border-radius: 7.5px;
    border: 1px solid #000; 
    background-color: transparent;    
  }      


} 

.slider_window { 

    @media (min-width: $min-960) {
      position: absolute;
      bottom: 5.1vh;
      top: 0;
      @include grid-col(10);
      @include grid-offset-left(2);
    }


}

.carousel {

    @media (min-width: $min-960) {
      position: absolute;
      bottom: 5.1vh;
      top: 0;
      @include grid-col(10);
      @include grid-offset-left(2);
    }
  
} 

